/* line 9, jsp-new/main.scss */
.main {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  position: relative;
}
/* line 14, jsp-new/main.scss */
.main .content-wrapper {
  padding: 20px;
}
/* line 16, jsp-new/main.scss */
.main .content-wrapper .ui-bar {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 19, jsp-new/main.scss */
.main .content-wrapper .ui-body {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: transparent;
}
/* line 23, jsp-new/main.scss */
.main .content-wrapper .ui-listview .title {
  background: #d9edf7;
}
@media (max-width: 30em) {
  /* line 27, jsp-new/main.scss */
  .main .content-wrapper label {
    display: none;
  }
  /* line 30, jsp-new/main.scss */
  .main .content-wrapper .ui-field-contain {
    border: 0;
  }
}
/* line 34, jsp-new/main.scss */
.main .content-wrapper .list-item {
  padding: 0;
  cursor: pointer;
  background-color: #ededed;
}
/* line 38, jsp-new/main.scss */
.main .content-wrapper .list-item .item {
  padding: .7em 1em;
}
/* line 40, jsp-new/main.scss */
.main .content-wrapper .list-item .item .ui-icon-carat-d {
  display: none;
}
/* line 44, jsp-new/main.scss */
.main .content-wrapper .list-item.list-active {
  background-color: #5393c5;
  color: #fff;
}
/* line 47, jsp-new/main.scss */
.main .content-wrapper .list-item.list-active .title {
  background-color: #5393c5;
  color: #fff;
  font-weight: 300;
}
/* line 52, jsp-new/main.scss */
.main .content-wrapper .list-item.list-active .ui-icon-carat-r {
  display: none;
}
/* line 55, jsp-new/main.scss */
.main .content-wrapper .list-item.list-active .ui-icon-carat-d {
  display: inline;
}
/* line 58, jsp-new/main.scss */
.main .content-wrapper .list-item.list-active .nav-link .ui-icon-carat-r {
  display: inline;
}
/* line 62, jsp-new/main.scss */
.main .content-wrapper .list-item .title {
  background-color: #ededed;
  height: 1.3em;
  line-height: 1.3em;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 16px;
}
/* line 72, jsp-new/main.scss */
.main .content-wrapper .list-item .title i:after, .main .content-wrapper .list-item .nav-link i:after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
  margin: .15em 0 0 .5em;
}
/* line 84, jsp-new/main.scss */
.main .content-wrapper .ui-select {
  margin-bottom: 30px;
}
/* line 87, jsp-new/main.scss */
.main .content-wrapper .detail-list {
  margin-bottom: 20px;
}
/* line 89, jsp-new/main.scss */
.main .content-wrapper .detail-list li {
  white-space: normal;
}
/* line 93, jsp-new/main.scss */
.main .content-wrapper .enquiry-result {
  padding-bottom: 10px;
  margin: 0 -15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
/* line 98, jsp-new/main.scss */
.main .content-wrapper .enquiry-result p {
  padding: 0 20px;
}
/* line 101, jsp-new/main.scss */
.main .content-wrapper .enquiry-result .result-item {
  float: right;
}
/* line 106, jsp-new/main.scss */
.main .empty-msg {
  text-align: center;
  margin: 10px 0 10px;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}

/* line 117, jsp-new/main.scss */
.sub-list {
  background-color: white;
}
/* line 120, jsp-new/main.scss */
.sub-list li span {
  float: left;
  width: 50%;
  display: inline-block;
}
/* line 125, jsp-new/main.scss */
.sub-list li .rt {
  text-align: right;
}
/* line 129, jsp-new/main.scss */
.sub-list li:last-child {
  border-bottom-width: 0;
}

/* line 134, jsp-new/main.scss */
.login-header {
  font-size: 16px;
}

/* line 138, jsp-new/main.scss */
.sub-header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  color: #999;
}
